// ----------------------------------------------------------------------
// Layout Breakpoints
// ----------------------------------------------------------------------
$maxWidth: 1280;
// ----------------------------------------------------------------------
// Font Sizes
// ----------------------------------------------------------------------
$regularSize: 12px;
$fontSize: 14px;
// ----------------------------------------------------------------------
// Colors
// ----------------------------------------------------------------------
$pink: #d03656;
$white: #fff;
$black: #222222;
$grey: #f3e6e6;
$gray: #989898;
$purple:#8262b5;
$brown: #777;
$background: #83B735;
// ----------------------------------------------------------------------
// Font Families
// ----------------------------------------------------------------------
$lato:'Lato',
sans-serif;
$poppin: 'Poppins',
sans-serif;
// ----------------------------------------------------------------------
// Grid
// ----------------------------------------------------------------------
$grid-columns: 12;